In [16]:
import numpy as np
import pandas as pd
from itertools import combinations, product

In [266]:
num_hidden_people_features = 6
num_hidden_movie_features = 5

num_users = 50
num_movies = 120 
seen_pct = 0.7

In [267]:
users = np.arange(num_users)
np.random.seed(42)
user_features = np.random.randn(num_users, num_hidden_people_features)

In [268]:
movies = np.arange(num_movies)
np.random.seed(42)
movie_features = np.random.randn(num_movies, num_hidden_movie_features)
movie_min = movie_features.min()
movie_max = movie_features.max()
movie_features = ((movie_features - movie_min) / (movie_max - movie_min)).round(1)

In [269]:
def utility(user_features, movie_features):
    return user_features[1:] @ movie_features + user_features[0]

In [270]:
df = pd.DataFrame(index=users, columns=movies)

In [271]:
prod = list(product(users.tolist(), movies.tolist()))

In [272]:
np.random.seed(42)
np.random.shuffle(prod)

In [273]:
# for i in range(int(num_users * num_movies * seen_pct)):
for i in range(len(prod)):
    u, m = prod[i]
    df.loc[u, m] = utility(user_features[u], movie_features[m])

In [274]:
scale_min = df.astype(float).min().min()
scale_max = df.astype(float).max().max()

In [275]:
df = ((df.astype(float) - scale_min) / (scale_max - scale_min) * 5.).round()

In [276]:
df = df.T

In [277]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,3.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,...,1.0,2.0,4.0,1.0,1.0,3.0,2.0,3.0,2.0,3.0
1,3.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,3.0,...,2.0,3.0,3.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0
2,3.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,4.0,2.0,2.0,3.0,2.0,3.0,2.0,3.0
3,3.0,3.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,4.0,2.0,2.0,3.0,2.0,3.0,2.0,3.0
4,3.0,4.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,3.0,...,2.0,2.0,4.0,2.0,1.0,3.0,2.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,3.0,3.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,3.0,...,2.0,3.0,3.0,1.0,2.0,4.0,3.0,3.0,2.0,3.0
116,3.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,4.0,...,1.0,2.0,4.0,0.0,1.0,3.0,2.0,3.0,2.0,3.0
117,3.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,...,1.0,2.0,4.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0
118,3.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,4.0,...,2.0,2.0,4.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0
119,3.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,4.0,1.0,2.0,3.0,2.0,3.0,2.0,3.0

In [278]:
df_melt = df.reset_index().melt('index').dropna().rename({'index':'movie_id', 'variable': 'user_id', 'value': 'rating'}, axis=1)

In [279]:
df_melt.head()

   movie_id user_id  rating
0         0       0     3.0
1         1       0     3.0
2         2       0     3.0
3         3       0     3.0
4         4       0     3.0

In [280]:
df_melt.shape

(6000, 3)

In [281]:
np.random.seed(42)
df_melt.sample(4000).to_csv('Ratings-reduced.csv', index=False)

In [282]:
df_melt.to_csv('Ratings-full.csv', index=False)

In [283]:
pd.DataFrame(user_features).to_csv('User-features.csv', index=False)

In [284]:
pd.DataFrame(movie_features).to_csv('Movie-features.csv', index=False)

$$y=X\theta$$
$$X^T y = X^T X \theta$$
$$(X^T X)^{-1} X^T y = (X^T X)^{-1} X^T X \theta$$
$$(X^T X)^{-1} X^T y = \theta$$